<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/mystyle.css') }}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>

        <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.datetimepicker.css') }}"/>
        <script src="{{ asset('js/jquery.datetimepicker.full.min.js') }}"></script>
    </head>
    <body>
    <nav>
        <div class="nav-wrapper " style=" background-color: #2c3e50 !important;">
            <a href="{{ path('home') }}" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ path('list') }}">Offers</a></li>
                <li><a href="{{ path('new') }}">New offers</a></li>
                <li><a href="{{ path('inspect') }}">My offers</a></li>

                <li><a href="{{ path('submissions') }}">Submission</a></li>
                {% if app.session is defined and app.session.has('user') %}
                <li><a href="{{ path('logout') }}"><i class="large material-icons">power_settings_new</i></a></li>
                {% else %}
                    <li><a href="{{ path('login') }}"><i class="large material-icons">input</i></a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div style="min-height: calc(100% - 119px); position: relative;">

    {% block body %}
    {% endblock %}
    </div>

    <!--footer-->
    <div id="foot" class="teal">
        <div class="row" style="margin-bottom: 0px;">
            <div class="col l8 m6 s12">
                <h6 id="owner"> © 2015 Tous droits réservés</h6>

            </div>
            <div class="col l4  m6 s12" align="right">

                <img src="{{ asset('images/g2foss.png') }}"  id ="picture" alt="g2foss">
            </div>

        </div>
    </div>
        {% block javascripts %}{% endblock %}
    <script>
        $('.datetime').datetimepicker();
    </script>

    </body>
</html>
